<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
            <h1>uighuiigh - {{ isAuth }}</h1>

            <!--*ngIf="authStatus", possibilité d'interchanger avec disabled-->
            <button class="btn btn-primary" 
            (click)="onNewOeuvre()"
            [disabled]="!isAuth">Nouveau livre</button>
            <app-single-oeuvre *ngFor="let oeuvre of oeuvres, let i = index"
            [oeuvre]="oeuvres[i]"></app-single-oeuvre>
        </div>
    </div>
</div>